.slick-prev {
    display: none !important;
  }
  .slick-next {
    display:none !important;
  }

  /* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots-two
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots-two li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots-two li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots-two li button:hover,
.slick-dots-two li button:focus
{
    outline: none;
}
.slick-dots-two li button:hover:before,
.slick-dots-two li button:focus:before
{
    opacity: 1;
}
.slick-dots-two li button:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 20px;

    position: absolute;
    top: -30px;
    left: 0px;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: 1;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots-two li.slick-active button:before
{
    opacity: .75;
    color: #0D2A62;
}
